let mapleader = " "

" Enable incremental search and highlighted search
set incsearch
set hlsearch
set relativenumber

set commentary
set multiple-cursors
set surround
set quickscope
set highlightedyank
set which-key
set notimeout " for which-key
set timeoutlen=5000 " for which-key

" highlightedyank
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(57, 62, 65, 255)"

" quickscope
let g:qs_disable_for_diffs = 1
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" yank/paste to/from system clipboard
"set clipboard=unnamed
 
" Map <C-c> to write all buffers (simulate :wa)
nnoremap <C-c> :wa<CR>

" Map <leader>S to select all occurrences (using IntelliJ’s select-all-occurrences action)
nnoremap <leader>S :action SelectAllOccurrences<CR>
nnoremap <leader>K :action ShowHoverInfo<CR>
nnoremap <leader>e :action ShowErrorDescription<CR>
nnoremap <leader>sw :action FindInPath<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap gT :action GotoTypeDeclaration<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>ci :action ImplementMethods<CR>
nnoremap <leader>gr :action Refactorings.QuickListPopupAction<CR>

nmap <C-e> <action>(HarpoonerToggleQuickMenu)
nmap <leader>a <action>(HarpoonerToggleFile)

nmap <C-h> <action>(HarpoonerOpenFile0)
nmap <C-t> <action>(HarpoonerOpenFile1)
nmap <C-n> <action>(HarpoonerOpenFile2)
nmap <C-s> <action>(HarpoonerOpenFile3)

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap gn <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

" nmap <leader><CR> :action ActivateTerminalToolWindow<CR>
nmap <leader><CR> :action com.sburlyaev.cmd.plugin.actions.OpenTerminal<CR>

nmap <leader>sk :edit ~/Documents/ideavim-id-actions.txt<CR>

nmap <leader>st :edit ~/.ideavimrc<CR>
nmap <leader>rr :source ~/.ideavimrc<CR>

nmap <C-j> :action EditorCloneCaretBelow<CR>
nmap <C-k> :action EditorCloneCaretAbove<CR>

nnoremap <Esc> :call cancelSearchHighlightAndCaretMode()<CR>

nmap <leader>rf <Action>(RenameFile)

vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)

nmap [E <Action>(GotoNextError)
nmap [[E <Action>(GotoPreviousError)

nmap sh :split<CR>
nmap sv :vsplit<CR>

nnoremap <leader>f :action ReformatCode<CR>
nnoremap <leader>re :action Refactorings.QuickListPopupAction<CR>

nnoremap gI :action GotoImplementation<CR>

nmap <leader>tr :exec &nu==&rnu? "se nornu" : "se rnu" <CR>

" --- yank
nnoremap <leader>y "+y
nnoremap <leader>Y "+Y

vnoremap <leader>y "+y
vnoremap <leader>Y "+Y
" IdeaVim dose not recognise Leader when Shift is on hold
vnoremap <S-Space>Y "+Y

" --- paste
nnoremap <leader>p "+p
nnoremap <leader>P "+P

vnoremap <leader>p "+p
vnoremap <leader>P "+P
vnoremap <S-Space>P "+P

nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rf :action RenameFile<CR>

nmap <leader>= :action ReformatCode<CR>
nmap <leader>tai :action VimFindActionIdAction<CR>

" Git
nmap <leader>hr :action Vcs.RollbackChangedLines<CR>

function! cancelSearchHighlightAndCaretMode()
  :action EditorToggleColumnMode
  :noh
endfunction
